.title {
    text-align: center;
}

.creator {
    text-align: center;
    font-size: 18pt;
}

a:link.creator, a:visited.creator {
    background-color: #f44336;
    color: white;
    padding: 18pt 25pt;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 26pt;
}

a:hover.creator, a:active.creator {
    background-color: red;
}
