.title {
    text-align: center;
}

.creator {
    text-align: center;
    font-size: 18pt;
}

.creator a:link, .creator a:visited {
    background-color: #f44336;
    color: white;
    padding: 18pt 25pt;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 26pt;
}

.creator a:hover, .creator a:active {
    background-color: red;
}

.newefmrl form {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". header header ."
        ". elabel ename ."
        ". emlabel email ."
        ". . create ."
}

#elabel {
    grid-area: elabel;
    justify-self: right;
    font-size: 150%;
    font-weight: bold;
}

.title {
    grid-area: header;
}

#ename {
    grid-area: ename;
    font-size: 150%;
}

#emlabel {
    grid-area: emlabel;
    justify-self: right;
    padding-right: 1em;
}

#email {
    grid-area: email;
}

#submit {
    grid-area: create;
    justify-self: left;
}
