.title {
    text-align: center;
}

.creator {
    text-align: center;
    font-size: 18pt;
}

.creator a:link, .creator a:visited {
    background-color: #f44336;
    color: white;
    padding: 18pt 25pt;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 26pt;
}

.creator a:hover, .creator a:active {
    background-color: red;
}

.newefmrl {
    font-size: 16pt;
    width: 48em;
    margin: 12ex auto;
}

.newefmrl label {
    display: inline-block;
    min-width: 12em;
    text-align: right;
}

.newurl {
    font-weight: bold;
    font-size: 120%;
